:root {
   /* Colour palette*/
   --primary-color: #0e1a2f;
   --secondary-color: white;
   --highlight-color: #ff551c;

   /* Colour palette invisible*/

   --primary-color-tr: #0e1a2f00;
   --secondary-color-tr: #FFFFFF00;
   --highlight-color-tr: #ff551c00;

   /* Font styles */
   --font-family: "alverata";
   --font-size-body: 12pt;
   --font-size-data: 0.8em;
   --font-size-subtitle: 2em;
   --font-size-thumbnail: 0.9em;

   /* Ruler styles */
   --increment-style: solid var(--highlight-color) 1px;

   --increment-small: 0.6rem;
   --increment-medium: 2rem;
   --increment-large: 85vw;

   /* Thumbnail title style */
   --title-style: 1px var(--highlight-color);
}

/*** Breakpoints ***/

@media screen and (min-device-width: 2881px) {
   :root {
      /* Font styles big desktop */
      --font-size-body: 16pt;

      /* Increment styles big desktop */
      --increment-small: 1rem;
      --increment-medium: 2.5rem;

      /* Ruler styles big desktop */
      --increment-style: solid var(--highlight-color) 2px;

      /* Thumbnail title big desktop */
      --title-style: 2px var(--highlight-color);
   }
}

@media screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
   :root {
      /* Font styles mobile */
      --font-size-body: 30pt;

      /* Ruler styles mobile */
      --increment-style: solid var(--highlight-color) 3px;

      --increment-small: 1.2rem;
      --increment-medium: 4rem;

      /* Thumbnail title style */
      --title-style: 4px var(--highlight-color);
   }
}
