:root {
   /* 1.1 Colour palette*/
   --primary-color: white;
   --secondary-color: black;
   --highlight-color: #21D19F;

   /* 1.2 Colour palette invisible*/
   --primary-color-tr: #0e1a2f00;
   --secondary-color-tr: #FFFFFF00;
   --highlight-color-tr: #ff551c00;

   /* 1.3 Colour palette transparent */
   --primary-color-tr-semi: #0e1a2fAA;

   /* 2.1 Font styles */
   --font-family: "alverata";

   --font-size-data: 0.8em;
   --font-size-thumbnail: 0.9em;
   --font-size-body: 12pt;
   --font-size-intro: 1.3em;
   --font-size-year: 2.2em;

   --font-size-subtitle: 1.6em;
   --font-size-title-small: 8vh;
   --font-size-title-large: 12vh;

   --title-style: 1.6px var(--secondary-color);

   /* 3.1  Spacing styles */
   --spacing-padding: 0.5em;
   --spacing-small: 20px;
   --spacing-medium: 2.5em;
   --spacing-large: 5em;

   /* 4.1 Ruler styles */
   --increment-style: solid var(--secondary-color) 1.6px;

   --increment-small: 0.6rem;
   --increment-medium: 2rem;
   --increment-large: 85vw;
}

/****** BREAKPOINTS ******/

/* Big Desktop */
@media screen and (min-width: 1900px) {
   :root {
      /* Font styles big desktop */
      --font-size-body: 18pt;

      /* Increment styles big desktop */
      --increment-small: 1rem;
      --increment-medium: 2.5rem;

      /* Spacing style big desktop */

      --spacing-small: 30px;

      /* Ruler styles big desktop */
      --increment-style: solid var(--secondary-color) 2.6px;

      /* Thumbnail title big desktop */
      --title-style: 2.6px var(--secondary-color);
   }
}

/* Mobile */
@media screen and (max-device-width: 767px) {
   :root {
      /* Font styles mobile */
      --font-size-body: 30pt;

      /* Ruler styles mobile */
      --increment-style: solid var(--secondary-color) 3px;

      --increment-small: 1.2rem;
      --increment-medium: 4rem;

      /* Spacing styles mobile */
      --spacing-small: 40px;

      /* Thumbnail title style mobile */
      --title-style: 3px var(--secondary-color);
   }
}