:root {
   --background: #15233b;
   --foreground: #e06339;
   --color: white;

   --font-family: "alverata";
   --font-size: 12pt;
}

/* Idea I'm testing */

@media screen and (max-width: 992px) {
   :root {
      --font-size: 24pt;
   }
}
