:root {
   /* Colour palette*/
   --primary-color: #15233b;
   --secondary-color: white;
   --highlight-color: #e06339;

   /* Font styles */
   --font-family: "alverata";
   --font-size-body: 12pt;
   --font-size-data: 0.8em;
   --font-size-subtitle: 2em;
   --font-size-thumbnail: 0.9em;

   /* Ruler styles */
   --increment-style: solid var(--highlight-color) 1px;

   --increment-small: 0.6rem;
   --increment-medium: 2rem;
   --increment-large: 85vw;

   /* Thumbnail title style */
   --title-style: 1px var(--highlight-color);
}

/*** Breakpoints ***/

@media screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
   :root {
      /* Font styles mobile */
      --font-size-body: 30pt;

      /* Ruler styles mobile */
      --increment-style: solid var(--highlight-color) 4px;

      --increment-small: 1.2rem;
      --increment-medium: 4rem;

      /* Thumbnail title style */
      --title-style: 4px var(--highlight-color);
   }
}
